{% extends 'index.html' %}

{% block content %}



{% for all in all_info %}


<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
  	<div class="container">
  	<div class="row">
  	<div class="col-8">
  	
    <h5 class="card-title" style="color:white"><u>User Info</u></h5>
    <p class="card-text" style="text-align: left; color:white">
    
    
    First Name: {{all.first_name_db}} <br/>
    Last Name: {{all.last_name_db}} <br/>
    Date Of Birth : {{all.date_of_birth_db }} <br/>
    Gender: {{all.gender_db}} <br/>
    Phone: {{all.phone_no_db}} <br/>
    Course:  {{all.course_db }} <br/>
    
    </p>
  </div>
  <div class="col-4">
        </div>
  </div>
  <div class="card-footer text-muted">
        <a href="{{url_for('update_user', id = all.id )}}" class="btn btn-primary">Update info</a> |  <a href="{{url_for('delete_user', id=all.id)}}" class="btn btn-danger">Delete info</a>
        <br/>

{% endfor %}

{% endblock %}