<!-- Course -->
	{% extends 'index.html' %}
	
	{% block content %}

    <section class="course" id="course">
      <h1>Careers</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

      <div class="row">
        <div class="course-col">
          <h3>Medicine</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
            neque error est eos minima voluptates officiis modi tenetur suscipit
            eaque ut rerum ducimus quaerat aliquid?
          </p>
        </div>

        <div class="course-col">
          <h3>Common Law</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
            neque error est eos minima voluptates officiis modi tenetur suscipit
            eaque ut rerum ducimus quaerat aliquid?
          </p>
        </div>

        <div class="course-col">
          <h3>Computer Science</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident,
            neque error est eos minima voluptates officiis modi tenetur suscipit
            eaque ut rerum ducimus quaerat aliquid?
          </p>
        </div>
      </div>
      
      <p><a href="#">View Other Careers</a></p>
    </section>
    {% endblock %}