<!-- testimonials -->

    <section class="testimonials">
      <h1>What Our Students Say</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, id.</p>

      <div class="row">
        <div class="testimonials-col">
          <img src="{{url_for('static', filename='images/user1.jpg')}}" alt="user1" />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              fugiat voluptatibus alias? Vitae pariatur quibusdam iusto corrupti
              tempore. Amet, exercitationem.
            </p>
            <h3>Lara Anikulapo</h3>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>

        <div class="testimonials-col">
          <img src="{{url_for('static', filename='images/user2.jpg')}}" alt="user2" />
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              fugiat voluptatibus alias? Vitae pariatur quibusdam iusto corrupti
              tempore. Amet, exercitationem.
            </p>
            <h3>Ade uthman</h3>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
          </div>
        </div>
      </div>
    </section>

    <!-- cta -->